{% extends "base.html" %}

{% block content %}

<title>Add Event</title>
<div class="flex justify-center items-center h-screen ">
    <form method="POST" enctype="multipart/form-data" class="p-5  w-11/12 ">
        {{ form.hidden_tag() }}
        <div class="grid gap-4 mb-4 md:grid-cols-2 mt-4">
            <div>
                <label for="event_name" class="block mb-2 text-sm font-medium  text-white">Event name</label>
                {{ form.event_name(class=" block w-full p-2.5 bg-white/20 backdrop-blur-md rounded-lg border-gray-600
                placeholder-gray-400
                text-white focus:ring-blue-500 focus:border-blue-500") }}
            </div>

            <div>
                <label for="event_date" class="block mb-2 text-sm font-medium text-white">Event Date</label>
                {{ form.event_datetime(class="block w-full p-2.5 bg-white/20 backdrop-blur-md rounded-lg border-gray-600
                placeholder-gray-400
                text-white focus:ring-blue-500 focus:border-blue-500") }}
            </div>

            <div style="display: flex; justify-content: space-between;">
                <div style="flex: 1; margin-right: 10px;">
                    <label for="committee" class="block mb-2 text-sm font-medium  text-white">Committee</label>
                    {{ form.committee(class="block w-full p-2.5 bg-[#3b4759] backdrop-blur-md rounded-lg border-gray-600
                    text-white 
                    placeholder-gray-400 focus:ring-blue-500 focus:border-blue-500") }}
                </div>
                <div style="flex: 1; margin-right: 10px;">
                    <label for="fest" class="block mb-2 text-sm font-medium  text-white">Fest</label>
                    {{ form.fest(class=" block w-full p-2.5 bg-[#3b4759] backdrop-blur-md rounded-lg border-gray-600
                    placeholder-gray-400
                    text-white focus:ring-blue-500 focus:border-blue-500") }}
                </div>
            </div>
            <div>
                <label for="ticket_price" class="block mb-2 text-sm font-medium  text-white">Ticket Price</label>
                {{ form.ticket_price(class=" block w-full p-2.5 bg-white/20 backdrop-blur-md rounded-lg border-gray-600
                placeholder-gray-400
                text-white focus:ring-blue-500 focus:border-blue-500") }}
            </div>
            <div>
                <label for="Event Venue" class="block mb-2 text-sm font-medium  text-white">Venue</label>
                {{ form.venue(class=" block w-full p-2.5 bg-white/20 backdrop-blur-md rounded-lg border-gray-600
                placeholder-gray-400
                text-white focus:ring-blue-500 focus:border-blue-500") }}
            </div>
            <div>
                <label for="Contact Person" class="block mb-2 text-sm font-medium  text-white">Contact Person</label>
                {{ form.contact_person(class=" block w-full p-2.5 bg-white/20 backdrop-blur-md rounded-lg
                border-gray-600
                placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500") }}
            </div>
            <div>
                <label for="Contact Number" class="block mb-2 text-sm font-medium  text-white">Contact Number</label>
                {{ form.phone_number(class=" block w-full p-2.5 bg-white/20 backdrop-blur-md rounded-lg border-gray-600
                placeholder-gray-400
                text-white focus:ring-blue-500 focus:border-blue-500") }}
            </div>
            <div>
                <label for="Poster" class="block mb-2 text-sm font-medium  text-white">Poster (Will Be Displayed at Dashboard)</label>
                {{ form.image_file(class=" block w-full p-2.5 bg-white/20 backdrop-blur-md rounded-lg border-gray-600
                placeholder-gray-400
                text-white focus:ring-blue-500 focus:border-blue-500") }}
            </div>
        </div>
        <div class="mb-4">
            <label for="Description" class="block mb-2 text-sm font-medium  text-white">Description</label>
            {{ form.description(class=" block w-full p-2.5 h-60 bg-white/20 backdrop-blur-md rounded-lg border-gray-600
            placeholder-gray-400
            text-white focus:ring-blue-500 focus:border-blue-500") }}
        </div>

        <div class="flex justify-center items-center">
            {{ form.submit(class="text-white focus:ring-4 focus:outline-none font-medium rounded-lg text-sm w-full
            sm:w-auto
            px-5 py-2.5 text-center bg-blue-600 hover:bg-blue-700 focus:ring-blue-800") }}
        </div>
    </form>
</div>

{% endblock %}