{% extends "base.html" %}

{% block content %}

<section class="flex mt-40 ml-52 justify-center">

    <div class="bg-gray-100 flex rounded-2xl shadow-lg max-w-3xl p-5">

        <div>
            <h2 class="font-bold text-2xl text-[#002D74] text-center">Add Fest</h2>
            <p class="text-xs mt-2  text-[#002D74] text-center">Fill the Following Details </p>




            <form action="" method="POST" class="flex flex-col mt-8 gap-4 px-8 md:px-16">
                {{ form.hidden_tag() }}
                <div class="flex gap-4">
                    {{ form.fest_name(class="p-2 rounded-xl border w-full") }}
                    {{ form.committee(class="p-2 rounded-xl border w-full") }}
                </div>
            
                {{ form.coordinator(class="p-2 rounded-xl border w-full") }}
                {{ form.description(class="block rounded-xl w-full p-4") }}
            
                {{ form.submit(class="bg-[#002D74] rounded-xl text-white py-2 hover:scale-105 duration-300 w-full") }}
            </form>

        </div>


    </div>
</section>
{% endblock %}