{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="../css/style.css" />
<title>{{first_name}}'s Dashboard</title>
<section class="main ">
  <div class="fest text">
    <div class="card glass">
      <div class="flex items-center justify-center">
        <img src="{{ url_for('static', filename='../css/Irislogo.jpg') }}" class="h-16 w-16 rounded-full mt-2">
      </div>
      <h3>IRIS</h3>
      <p>Cultural Fest of SFIT</p>
      <button class="bg-[#2563eb] rounded-xl text-white py-2 px-4 my-4 hover:scale-105 duration-300">Get
        Started</button>
    </div>
    <div class="card glass">
      <div class="flex items-center justify-center">
        <img src="{{ url_for('static', filename='../css/Mosaic Logo.jpg') }}" class="h-16 w-16 rounded-full mt-2">
      </div>
      <h3>Mosaic</h3>
      <p>Technical Fest of SFIT</p>
      <button class="bg-[#2563eb] rounded-xl text-white py-2 px-4 my-4 hover:scale-105 duration-300">Get
        Started</button>
    </div>
    <div class="card glass">
      <div class="flex items-center justify-center">
        <img src="{{ url_for('static', filename='../css/Ignitra Logo.jpg') }}" class="h-16 w-16 rounded-full mt-2">
      </div>
      <h3>Ignitra</h3>
      <p>Sport Fest of SFIT</p>
      <button class="bg-[#2563eb] rounded-xl text-white py-2 px-4 my-4 hover:scale-105 duration-300">Get
        Started</button>
    </div>
  </div>

  


  <script>
    var tabs = document.querySelectorAll('li');

    // Function to remove the 'active' class from all tabs
    function removeActiveClass() {
      tabs.forEach(function (tab) {
        tab.classList.remove('active');
      });
    }

    // Function to hide all event divs
    function hideAllEventDivs() {
      var eventDivs = document.querySelectorAll('.event');
      eventDivs.forEach(function (div) {
        div.style.display = 'none';
      });
    }

    // Add event listeners to the tabs
    // Add event listeners to the tabs


    document.getElementById('in-progress-tab').addEventListener('click', function () {
      removeActiveClass();
      this.classList.add('active');
      hideAllEventDivs();
      var inProgressEventsDiv = document.getElementById('in-progress-events');
      var displayStyle = window.getComputedStyle(inProgressEventsDiv).display;
      if (displayStyle === 'none') {
        inProgressEventsDiv.style.display = 'flex';
        inProgressEventsDiv.style.flexDirection = 'row';
      }
    });

    document.getElementById('incoming-tab').addEventListener('click', function () {
      removeActiveClass();
      this.classList.add('active');
      hideAllEventDivs();
      var incomingEventsDiv = document.getElementById('incoming-events');
      var displayStyle = window.getComputedStyle(incomingEventsDiv).display;
      if (displayStyle === 'none') {
        incomingEventsDiv.style.display = 'flex';
        incomingEventsDiv.style.flexDirection = 'row';
      }
    });

    document.getElementById('completed-tab').addEventListener('click', function () {
      removeActiveClass();
      this.classList.add('active');
      hideAllEventDivs();
      var completedEventsDiv = document.getElementById('completed-events');
      var displayStyle = window.getComputedStyle(completedEventsDiv).display;
      if (displayStyle === 'none') {
        completedEventsDiv.style.display = 'flex';
        completedEventsDiv.style.flexDirection = 'row';
      }
    });
  </script>
  {% endblock %}