{% extends "base.html" %}

{% block content %}

<title>{{event_name}}</title>


<div class="p-5 h-screen ">

    <div class=" grid gap-6 mb-6 md:grid-cols-2">
        <div>
            <label for="event_name" class="block mb-2 text-sm font-medium  text-white">Event name</label>
            <div class="block w-full p-2.5 bg-gray-700 rounded-lg border-gray-600 placeholder-gray-400">
                {{ event_name }}
            </div>
        </div>

        <div>
            <label for="event_date" class="block mb-2 text-sm font-medium text-white">Event Date</label>
            <div class="block w-full p-2.5 bg-gray-700 rounded-lg border-gray-600 placeholder-gray-400">
                {{ event_datetime }}
            </div>
        </div>

        <div>
            <label for="committee" class="block mb-2 text-sm font-medium  text-white">Committee</label>
            <div class="block w-full p-2.5 bg-gray-700 rounded-lg border-gray-600 placeholder-gray-400">
                {{ committee }}
            </div>
        </div>
        <div>
            <label for="fest" class="block mb-2 text-sm font-medium  text-white">Fest</label>
            <div class="block w-full p-2.5 bg-gray-700 rounded-lg border-gray-600 placeholder-gray-400">
                {{ fest }}
            </div>
        </div>
        <div>
            <label for="ticket_price" class="block mb-2 text-sm font-medium  text-white">Ticket Price</label>
            <div class="block w-full p-2.5 bg-gray-700 rounded-lg border-gray-600 placeholder-gray-400">
                {{ ticket_price }}
            </div>
        </div>
        <div>
            <label for="Event Venue" class="block mb-2 text-sm font-medium  text-white">Venue</label>
            <div class="block w-full p-2.5 bg-gray-700 rounded-lg border-gray-600 placeholder-gray-400">
                {{ venue }}
            </div>
        </div>
        <div>
            <label for="Contact Person" class="block mb-2 text-sm font-medium  text-white">Contact Person</label>
            <div class="block w-full p-2.5 bg-gray-700 rounded-lg border-gray-600 placeholder-gray-400">
                {{ contact_person }}
            </div>
        </div>
        <div>
            <label for="Contact Number" class="block mb-2 text-sm font-medium  text-white">Contact Number</label>
            <div class="block w-full p-2.5 bg-gray-700 rounded-lg border-gray-600 placeholder-gray-400">
                {{ phone_number }}
            </div>
        </div>
    </div>
    <div class="mb-6">
        <label for="Description" class="block mb-2 text-sm font-medium  text-white">Description</label>
        <div class="block w-full p-2.5 bg-gray-700 rounded-lg border-gray-600 placeholder-gray-400">
            {{ description }}
        </div>
    </div>

</div>

{% endblock %}