{% extends "base.html" %}

{% block content %}
<title>{{first_name}}'s Profile</title>
<div class="flex justify-center items-center  h-screen ">
    <div class="profile_box">

        <section class="profile items-center">

            <div class="bg-white/20 backdrop-blur-md flex rounded-2xl shadow-lg max-w-3xl p-5">

                <div>
                    <h2 class="flex justify-center mt-4 font-bold text-2xl text-white text-center">Profile</h2>
                    <form id="profile-form" action="{{ url_for('update_profile') }}" method="POST"
                        class="flex flex-col justify-center mt-4 gap-4 px-8 md:px-16">
                        <div class="flex space-x-4">
                            <input type="text" name="first_name" value="{{ first_name }}" readonly
                                class="p-2 bg-gray-400 rounded-xl border w-full">
                            <input type="text" name="last_name" value="{{ last_name }}" readonly
                                class="p-2 bg-gray-400 rounded-xl border w-full">
                        </div>

                        {% if role == 'User' %}
                        <input type="text" name="pid" value="{{ pid }}" readonly
                            class="p-2 bg-gray-400 rounded-xl border mt-2">
                        {% elif role == 'Coordinator' %}
                        <input type="text" name="committee" value="{{ committee }}" readonly
                            class="p-2 bg-gray-400 rounded-xl border mt-2">
                        {% elif role == 'Committee' %}

                        <input type="text" name="Coordinator" value="{{ coordinator }}" readonly
                            class="p-2 bg-gray-400 rounded-xl border mt-2">
                        {% endif %}
                        <input type="text" value="{{ email }}" readonly class="p-2 bg-gray-400 rounded-xl border mt-2">
                        <input type="text" value="{{ role }}" readonly class="p-2 bg-gray-400 rounded-xl border mt-2">
                        <button id="update-button" type="button"
                            class="bg-blue-600 mb-10 rounded-xl text-white py-2 hover:scale-105 duration-300 mt-2">Update</button>
                    </form>
                </div>


            </div>

        </section>
        <script>
            document.getElementById('update-button').addEventListener('click', function () {
                var inputs = Array.from(document.querySelectorAll('input[name="first_name"], input[name="last_name"], input[name="pid"]'));
                if (this.textContent === 'Update') {
                    this.textContent = 'Save';
                    // Make the form fields editable and white
                    inputs.forEach(function (input) {
                        input.removeAttribute('readonly');
                        input.classList.remove('bg-gray-400');
                        input.classList.add('bg-white');
                    });
                } else {
                    this.textContent = 'Update';
                    // Make the form fields non-editable and gray
                    inputs.forEach(function (input) {
                        input.setAttribute('readonly', '');
                        input.classList.remove('bg-white');
                        input.classList.add('bg-gray-400');
                    });
                }
            });
        </script>
    </div>
</div>
{% endblock %}